body {
  margin: 0;
}

@media (max-width: 700px) {
  .nav-links-wrapper {
    display: none !important;
  }

  .nav-btn {
    display: inline-block !important;
  }
}

.navbar {
  height: 50px;
  border-bottom: 1px solid black;
  position: relative;

  .logo {
    display: inline-block;
    margin-left: 10px;
    height: 50px;

    img {
      height: 50px;
    }
  }
  
  .nav-links-wrapper {
    height: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 10px;

    .nav-link {
      height: 50px;
      padding: 0 10px 0;
      font-size: 16px;
      line-height: 50px;
      text-align: center;
      display: inline-block;
    }
  }

  .nav-btn {
    display: none;
    float: right;
    margin: 10px 10px 0 0;
    height: 30px;
    width: 30px;
    background-color: white;

    hr {

    }
  }
}